#bearings {
	background: url(/_assets/img/bearings.jpg) no-repeat center center transparent;
	background-attachment: fixed;
	height: 132px;
	padding-top: 28px;
	margin-bottom: 57px;
}

.slider {
	[class^="icon-"], [class*=" icon-"] {
		color: @white;
		font-size: 3em;
		display: inline-block;
		width: 15%;
		vertical-align: top;
	}
}

.content-container {
	width: 80%;
	margin: 0 auto;
}

.home .content-container {
	display: inline-block;
}

.full {
	width: 100%;
	padding: 39px;
	img {
		width: 100%;
	}
	p {
		font-size: 1.0977777777777777em;
		color: @white;
		text-align: center;
		text-transform: uppercase;
		line-height: 1.808695652173913em;
		padding-bottom: 0;
		.raleway-light;
	}
	&.laptop {
		background: url(/_assets/img/what-we-want.jpg) no-repeat center center transparent;
		background-size: cover;
	}
}

.slider {
	p {
		font-size: 0.8888888888888888em;
		width: 80%;
		margin: 0 auto;
	}
	span {
		font-size: 2em;
		margin-bottom: 17px;
		min-height: 30px;
		display: block;
		color: @white;
	}
}

#people {
	height: 200px;
	overflow: hidden;
	.jaycontainer {
		width: 45.5%;
		float: left;
		img {
			width: 100%;
		}
	}
	.jayblurb {
		h4 {
			font-size: 1em;
			line-height: 1.608695652173913em;
			margin-bottom: 40px;
			text-align: center;
			.raleway-light;
		}
		.btn {
			font-size: .8em;
		}
	}
	.container, .jaycontainer {
		width: 22%;
		margin: 0 1.5%;
		position: relative;
		float: left;
	    top: 0;
	    &:hover {
	    	
	    	img {
	    		width: 242px;
			    -webkit-transition: 0 0 0;
			    -moz-transition: 0 0 0;
			    -o-transition: 0 0 0;
			    -ms-transition: 0 0 0;
			    transition: 0 0 0;
	    	}
	    }
		img {
			width: 242px;
		    position: relative;
		    top: 0;
		    left: 0;
		    display: inline-block;
		    -webkit-transition: 0 0 0;
		    -moz-transition: 0 0 0;
		    -o-transition: 0 0 0;
		    -ms-transition: 0 0 0;
		    transition: 0 0 0;
		}
		.blurb {
		    display: inline-block;
		    left: 0;
		    top: 0;
		    position: absolute;
		    height: 200px;
		    vertical-align: top;
		    z-index: -1;
	    	width: 242px;
			h4 {
				font-size: 1em;
				line-height: 1.608695652173913em;
				margin-bottom: 40px;
				text-align: center;
				.raleway-light;
			}
			.btn {
				font-size: .8em;
			}
			&.front {
				z-index: 1;
			}
		}
	}
}

.work {
	padding-top: 47px;
	.work-item {
		width: 9.9%;
		display: inline-block;
		margin: 0 .37%;
		height: 100px;
		overflow: hidden;
		position: relative;
		img {
			width: 100%;
			.transition(all, 8000ms, ease);
			&:hover {
				width: 150%;
				margin: -25% 0 0 -25%;
			}
		}
		&:hover {
			.transition;
			img {
				margin: -25% -25% -25% -25%;
			}
		}
	}
}













