.raleway-light {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

.raleway {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

.raleway-bold {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

@font-face {
	font-family: 'icomoon';
	src:url('/_assets/fonts/icomoon.eot?l2xof2');
	src:url('/_assets/fonts/icomoon.eot?#iefixl2xof2') format('embedded-opentype'),
		url('/_assets/fonts/icomoon.ttf?l2xof2') format('truetype'),
		url('/_assets/fonts/icomoon.woff?l2xof2') format('woff'),
		url('/_assets/fonts/icomoon.svg?l2xof2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-person:before {
	content: "\e617";
}
.icon-visit:before {
	content: "\e616";
}
.icon-pen:before {
	content: "\e615";
}
.icon-branding:before {
	content: "\e610";
}
.icon-graphics:before {
	content: "\e611";
}
.icon-photo:before {
	content: "\e612";
}
.icon-video:before {
	content: "\e613";
}
.icon-website:before {
	content: "\e614";
}
.icon-arrow:before {
	content: "\e60f";
}
.icon-google:before {
	content: "\e601";
}
.icon-instagram:before {
	content: "\e609";
}
.icon-linkedin:before {
	content: "\e60a";
}
.icon-twitter:before {
	content: "\e60b";
}
.icon-facebook:before {
	content: "\e60e";
}
.icon-x:before {
	content: "\e607";
}
.icon-menu:before {
	content: "\e608";
}
.icon-logo:before {
	content: "\e60c";
}
.icon-logo-footer:before {
	content: "\e60d";
}
.icon-briefcase:before {
	content: "\e600";
}
.icon-convo:before {
	content: "\e602";
}
.icon-dart:before {
	content: "\e603";
}
.icon-handshake:before {
	content: "\e604";
}
.icon-results:before {
	content: "\e605";
}
.icon-three:before {
	content: "\e606";
}

